body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.chat-container {
    width: 85%;
    max-width: 800px;
    height: 85%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.chat-header {
    background-color: #a02d2d;
    color: #fff;
    padding: 10px;
    text-align: center;
}
.chat-messages {
    padding: 10px;
    flex: 1;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
}
.chat-input {
    display: flex;
    padding: 10px;
}
.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}
.chat-input button {
    padding: 10px 20px;
    background-color: #a02d2d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.message {
    margin-bottom: 10px;
}
.message.user {
    text-align: right;
}
.message.bot {
    text-align: left;
}
.message p {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    max-width: 80%;
}
.message.user p {
    background-color: #a02d2d;
    color: #fff;
}
.message.bot p {
    background-color: #f1f1f1;
    color: #333;
}